body,html{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style-type: none;
    
}

/* asta tot anuleaza flex ul si de la child divs, give it a look*/
.bottom-position{
   position:absolute;
   bottom: 0px;
    
}
#footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.color-grey{
    color: rgb(92, 87, 87);
}
.image-icon{
    width: 25px;
    height: 25px;
}
.margin-container{
    margin: 10px 25px;
}
.icons{
    margin: 0px 5px;
}


@media only screen and (max-width: 400px){
    #footer{
        flex-direction: column;
    }
    .icons{
        margin:5px 0px;
    }
} 