body,html{
    background-color: #d3d3d3;
    color: #1e1e1e;
    
}
.button-style{
    background-color: #000000; /* Green */
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #d3d3d3;
    border-radius:2px;
    color: #1e1e1e;
    border: 2px solid #1e1e1e;
   
}
.container{
    width: 85%;
    margin: auto;
    padding: 90px 0px;
}
#first-title{
    color: #000000;
}

.class-h4{
    font-size:19px;
}       


         /* Mobile */
@media only screen and (min-width:0px) and (max-width: 500px)  {
    
    .class-h4,.class-h3,.class-p,.class-button{
        margin: 5px 0px;
    }

   
    .class-h3{
        font-size: 40px;
    }
    .class-p{
        font-size: 22px;
    }
    .class-button{
        font-size: 16px;
    }
}


   /* Tablets*/
   @media only screen and (min-width:501px) and (max-width: 800px ) {
   
    .class-h4,.class-h3,.class-p,.class-button{
        margin: 10px 0px;
    }
    
    
    .class-h3{
        font-size: 50px;
        
    }
    .class-p{
        font-size: 24px;
    }
    .class-button{
        font-size:16 px;
    }
}    

    /*Pc*/
    @media only screen and (min-width: 800px) {
    
        .class-h4,.class-h3,.class-p,.class-button{
            margin: 15px 0px;
        }
        .class-h3{
            font-size: 55px;
        }
        .class-p{
            font-size: 24px;
        }
        .class-button{
            font-size: 20px;
        }

        
 
}