body,html{
    background-color: #d3d3d3;
    color: #1e1e1e;
    margin: 0px;
    padding: 0px;
    
}
.button-style{
    background-color: #1e1e1e;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #d3d3d3;
    border-radius:2px;
    color: #1e1e1e;
    border: 2px solid #1e1e1e;
   
}
.container{
    width: 85%;
    margin: auto;
    padding: 190px 0px;
}
#first-title{
    color: #000000;
}

.class-h4{
    font-size:19px;
}       
.no-text-decoration{
    list-style-type: none;
    text-decoration: none;
    color: #1e1e1e;
}

         /* Mobile */
@media only screen and (min-width:0px) and (max-width: 500px)  {
    
    .class-h4,.class-h3,.class-p,.class-button{
        margin: 9px 0px;
    }

    .class-h4{
        font-size: 26px;
    }
    .class-h3{
        font-size: 40px;
    }
    .class-p{
        font-size: 22px;
    }
    .class-button{
        font-size: 17px;
    }
}


   /* Tablets*/
   @media only screen and (min-width:501px) and (max-width: 800px ) {
   
    .class-h4,.class-h3,.class-p,.class-button{
        margin: 14px 0px;
    }
    .class-h4{
        font-size: 28px;
    }
    
    .class-h3{
        font-size: 50px;
        
    }
    .class-p{
        font-size: 24px;
    }
    .class-button{
        font-size:17 px;
    }
}    

    /*Pc*/
    @media only screen and (min-width: 800px) {
    
        .class-h4,.class-h3,.class-p,.class-button{
            margin: 15px 0px;
        }
        .class-h4{
            font-size: 30px;
        }
        .class-h3{
            font-size: 55px;
        }
        .class-p{
            font-size: 24px;
        }
        .class-button{
            font-size: 20px;
        }

        
 
}
a:hover {
    
    color: #1e6fd9;
}
#color-blue{
    color: #1e6fd9;
}