
.column-1 {
    width: 95%;
    height: auto;
    
    padding-bottom:70px;
    margin:auto;
    padding: 20px 4vh;
    
  }
  .table-style {
    width: 90%;
    margin: 20px 0px;
    border-spacing: 2vh 10px;
  }
  #td-blue{
    color:  #1e6fd9;
  }
     
.padding-top-bottom{
  padding: 10px 0px;

}