
.column-1 {
    width: 95%;
    height: auto;
    
    padding-bottom:70px;
    margin:auto;
    margin-bottom:50px;
    margin-top: 75px;
    
  }
  .table-style {
    width: 100%;
    border-spacing: 22px;
  }
  #td-blue{
    color:  #1e6fd9;
  }
     
.padding-top-bottom{
  padding: 10px 0px;

}